html {
    height: 100%;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
}

body {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    max-width: 1440px;
    background-color: hsl(212, 45%, 89%);
    font-family: Outfit;
    font-style: normal;
    box-sizing: border-box;
}

main {
    width: 320px;
    background-color: white;
    padding: 16px;
    box-sizing: inherit;
    border-radius: 20px;
}

.qr_img {
    width: 288px;
    border-radius: 10px;
    margin-bottom: 24px;
}

.slogan {
    text-align: center;
    font-size: 22px;
    font-weight: 700px;
    margin-bottom: 16px;
}

.description {
    font-family: 'Outfit';
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    font-style: normal;
    width: 256px;
}

footer {
    position: absolute;
    bottom: 10%;

}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}